{% extends 'base.html.twig' %}

{% block title %}Cloisons{% endblock %}

{% block body %}
<main class="cloi">
    <div class="cloi-intro">
        <h1 class="cloi-title">Les Cloisons</h1>
            <p class="cloi-intro-text">  Les cloisons viennent séparer l’espace intérieur en divers pièces : cuisine, séjour, salle de bain, chambres etc.
            … plusieurs variante de cloison son possibles.<br> </P>    
            <h2 class="cloi-subtitle"><em>Cloison à ossatures métalliques</em></h2>
            <p>Ce type de cloison est parfait pour les projets de construction ou de rénovation. Grâce à son ossature métallique « composées de rails (fixés au sol/plafond) 
            et de montants verticaux, revêtues de plaques de plâtre », elle offre une <strong>grande flexibilité.</strong><br> Que ce soit pour des <strong>maisons individuelles</strong>, des <strong>appartements</strong> ou des <strong>bâtiments collectifs</strong>
             elles répondent à une multitude de besoins en matière de séparation de pièces, d'<strong>isolation acoustique</strong>,
             d'esthétique (cloison cintré par exemple) ou encore de <strong>résistance mécanique</strong> (1, 2 ou 3 plaques par faces selon les besoins »pris en compte par notre calculateur »).</p>   
                <h4>Types de cloisons :</h4>
    </div>
        <section class="cloi-card">
            <div class="cloi-sub-2">
                <ul>
                    <li><strong>Séparatives</strong> : Séparent deux espaces distincts (habitation / garage).</li>
                    <li><strong>Distributives</strong> : Séparent des pièces au sein d’un même logement dont l’épaisseur peut varier en fonction du confort acoustique ou de la résistance au feu souhaiter (72/48 ou 98/48).</li>   
                </ul>    
                    <p>La cloison la plus courante est le modèle 72/48, avec une ossature de 48 mm et une épaisseur totale de 72 mm.</p> </p>
                        <div class="cloi-oss-metal">
                            <div class="cloi-oss-metal-left">
                                    <img class="cloi-left-img" src="build/images/cloison72.jpg" alt="cloison distributive 72/48 " />
                                <div class="cloi-card-body">
                                    <p>Cloison distributive de 72/48.</p>
                                </div>
                            </div>
                            <div class="cloi-oss-metal-right">
                                    <img class="cloi-right-img" src="build/images/cloison-72-48.jpg" alt="cloison distributive 72/48 " />
                                <div class="cloi-card-body">
                                    <p>Cloison distributive avec isolant acoustique.</p>
                                </div>
                            </div>
                        <div class="cloi-card-body">
            </div>
        </section>
        <section>
         <h2 class="cloi-subtitle"><em>Cloisons alvéolaires</em></h2>
            <p> L'épaisseur de ces cloison est de 50 mm, elles sont constituées d'une âme en carton "nid d'abeille",
             avec une plaque de plâtre de 10 mm collée sur chaque face. Elles sont plus économiques mais leurs performances acoustiques sont inférieures à celles d’une cloison sur ossature métallique: 
             Le montage se réalise avec des semelles et rails en bois, assemblés par des clavettes "2 à 3 par hauteur";ou avec un système de montage métallique.<br>Ces cloisons sont limitées par la hauteur des plaques existantes aujourd’hui à 2.70m.
            </p>
                <div class="cloi-alv">
                    <div class"cloi-alv-card">
                        <img class="cloi-card-img" src="build/images/cloison alveolaire.jpg" alt="cloison alvéolaire ou nid d'abeille" />
                        <div class="cloi-card-body">
                            <p>Cloison alvéolaire de 50mm.</p>
                        </div>
                    </div>        
                </div>
        <h2 class="cloi-subtitle"><em>Cloisons en carreaux de plâtre</em></h2>
            <p> Les cloisons en carreaux de plâtre sont assemblées et collées par un système tenon-mortaise,
             avec des épaisseurs de 50 mm, 70 mm ou 100 mm. Elles sont principalement utilisées pour des séparations dans les locaux techniques où l'espace est limité.
              Résistantes au feu (de 60 à 180 minutes) et incombustibles (réaction au feu A1), elles sont plus coûteuses que les cloisons Placostil et nécessitent une finition si elles sont visibles.</p>
                <div class="cloi-car">
                                <img class="cloi-card-img" src="build/images/cloisonCarreauxPlat.JPG" alt="cloison carreaux platre" />
                            <div class="cloi-card-body">
                                <p>Cloison en carreaux de plâtre.
                                <img class="cloi-card-img" src="build/images/cloison carreaux platre2.JPG" alt="cloison carreaux platre" />
                            <div class="cloi-card-body">
                                <p>Cloison en carreaux de plâtre.
                </div>
    </div>
</main>
{% endblock %}
