{% extends 'base.html.twig' %}

{% block title %}Prix{% endblock %}

{% block body %}
<main class="tarif">
    <div class="tarif-intro"> 
        <h1 class="tarif-title">Tarifs et modalités</h1>
        <div class="tarif-proposition">
            <h3 class="tarif">Nos offres</h3>
             <p>Nous vous proposons trois manière de venir découvrir notre calculateur, la première « <strong>Un essai gratuit</strong>« vous familiarisera avec lui,
              quant aux <strong>Packs</strong> ou à L’<strong>Abonnement</strong>, ils vous engagent pour une durée limitée que vous aurez préalablement choisie et à laquelle
              vous devrez adhérer et souscrire.  
                <ul>
                    <li>L’<strong>essai gratuit </strong>vous permettra de vous familiariser avec les questions proposé par notre calculateur avant de vous délivrer
                     le résultat de final. Ce résultat sera ici partiellement flouter mais vous donnera une indication quand a la démarche
                      à suivre et au genre de question impératives et nécessaires auxquelles il faudra répondre pour  établir votre quantitatif complet.
                     Il  ne pourra donc en aucun cas correspondre à une liste exhaustive à vous procurer comme le propose l’abonnement ou la formules de pack soumis à souscription.</li>
                    <li>La formule <strong>Packs</strong>, vous propose 3 choix en fonction de vos besoins. Les calculs proposés  <strong>1</strong>, <strong>3</strong> ou <strong>10</strong> ,
                    pourront être réalisés par notre calculateur après avoir souscrit à une offre de pack.
                     Il ne sera pas possible de souscrire  à plusieurs packs simultanément. Seul un nombre nul de crédit de votre pack permettra de souscrire à un nouveau pack de calcul(s).</li>
                    <li>La formule <strong>Abonnement</strong>, vous propose 3 choix en fonction de vos besoins. Les calculs proposés pour une durée d'<strong>une semaine</strong>, <strong>un mois</strong> ou <strong>6 mois</strong>
                     de manière illimités pendant la durée de l’abonnement choisi, le seront, après souscription, parmi les calculs proposés de notre calculateur.</li>
                </ul>
        </div>        
        <div class="tarif-savoir">
            <h3 class="tarif">A Savoir</h3>
                <ul>
                    <li>Chaque obtention de résultat fourni par notre calculateur consomme un crédit.</li>
                    <li>Chaque modification de résultat, nécessitant donc de refaire un calcul, consomme un crédit.</li>
                    <li>N’hésitez pas à tester notre calculateur avant de vous engager, le résultat sera alors partiellement
                    visible mais cela vous permettra de vous familiariser avec notre outils.</li>
                    <li>Pour les formules de <strong>Packs</strong> vous obtiendrez votre quantitatif sous format PDF.</li>
                    <li>Pour les formules d’<strong>Abonnements</strong> vous pourrez conserver vos calculs de quantitatifs dans votre espace privatif,
                    par Client, Chantier, Structure, Dates.<br> 
                    <em>Cela peut être utiles si des paramètres (tel que, une hauteur, une largeur, etc.) 
                    change avant la réalisation de vos travaux.</em></li>
                    <li>Si vous avez plusieurs calculs à faire, l’abonnement s’avère plus économique.</li>
                    <li>Pour les packs ou abonnement notre calculateur vous délivrera la liste exhaustive des matériaux nécessaires à la réalisation de la structure que vous avez choisie 
                    en fonction des réponses que vous avez données avant de valider le calcul à réaliser.</li>
                </ul>
        </div>        
    </div>
    <div class="tarif">
</main>   
{% endblock %}
