{% extends 'base.html.twig' %}

{% block title %}Prix{% endblock %}

{% block body %}
<main class="prix">
    <div class="prix-intro"> 
        <h1 class="prix-title">Tarif et modalités</h1>
        <h3 class="prix">
        <p>Chaque obtention de resultat suite a </p>
</main>   
{% endblock %}
