{% extends 'base.html.twig' %}

{% block title %}Calculateur{% endblock %}

{% block body %}
 <h1>Depuis calcul</h1>
 <p>Pour les zones ou pièces exposées à l'humidité, il est recommandé d'utiliser des plaques hydrofuges,
          une solution déjà intégrée dans les paramètres de notre calculateur.
 </p>
{% endblock %}
