html,
body {
  padding: 0 !important;
  height: 100%;
}

a{
  text-decoration: none;
  color: black;  
}

::placeholder {
  font-size: 12px;
  color: #d3d3d3; /* light grey color */
  opacity: 1; /* Ensure the color is not transparent */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d3d3d3;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d3d3d3;
}

html {
  font-size: 18px;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", serif;
}

.login-error{
  color: red;
  text-align: center;
   width: 100%;
  font-size: 20px;
}

.btn.btn-primary {
    background-color:#83bcFc;
    color:black;
}

.header-logo {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.paraph-mobile {
    margin-bottom: 0px;
}

.header-logo,
.navbar-expand-lg {
  padding-left: 80px;
}

.logo {
  font-size: 35px !important;
  color: #3bb143;
}

.logo-mobile{
 margin-bottom: 0px;
}

a.nav-link,
.nav-item button {
  color: white !important;
}

a.nav-link:hover,
.nav-item button:hover {
  color: #89ade0 !important;
}

.nav-item button img {
  padding-left: 20px;
}

.section-intro {
  display: flex;
  flex-wrap: nowrap !important;
  justify-content: space-around !important;
  align-items: center;
  padding: 15px 10px !important;
  width: 80%;
}

.section-intro {
  margin: 0rem auto !important;
}

a {
  text-decoration: none;
}

.heading-1 {
  font-size: 70px;
  font-family: "Anton", sans-serif;
}

.sub-heading-1 {
  font-size: 40px;
  font-weight: bold;
}

/* ajout 12/01*/
.heading-2 {
  font-family: "Anton", sans-serif;
  font-size: 50px;
  padding-top: 50px;
  letter-spacing: 2px;
}

.heading-3 {
  font-size: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

/*fin ajout 12/01*/

.grey {
  color: gray;
}

.intro-texte {
  margin-top: 30px;
}

.heading-text {
  font-size: 22px;
  margin-top: 30px;
  padding: 0 10px;
}

/*structure*/

.structure-subtitle{
  color:#0D5298;
  margin-bottom: 30px;
}

.gray-blue {
  background-color: rgba(211, 227, 253, 0.522);
}

.white {
  background-color: white;
}

.img-intro {
  width: auto;
  height: 417px;
}

.img-calc {
  height: auto;
  margin: 50px auto;
}

.calc-cube {
  margin-top: 30px;
  width: 315px;
  height: 315px;
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #e8e8f7,
    #cdd3ef,
    #aebfe8,
    #89ade0
  );
}

.calc-card-header {
  width: 100%;

  margin: 30px 0;
}

.news {
  width: 50%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.comments {
  width: 27%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

#comments {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 35px 0 !important;
}

#news {
  padding: 20px 0 !important;
}

.calc-text {
  margin: 0 20px;
  text-align: start;
}

#comments h1 {
  width: 100%;
  text-align: center;
  /* mes ajouts******************************/
  margin-bottom: 50px;
  /**fin ajouts**/
}

.bg-green {
  background-color: #3bb143;
}

/*tarif,buy*/

main.tarif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 20px auto;
}

.tarif-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
    width: 90%; 
}

.card-header, .card-footer{
  display:flex ;
  align-items: center;
  justify-content: center;
}

.card-header img{
  width: 80%;
  height: auto;
}

.card-body{
  min-height: 223px;
}

.list-comment{
  width: 100%;
}