@media (max-width: 480px){

    body { 
       width: 100%;
       background-color: white !important; 
    }

    .navbar-brand{
        font-size: 35px !important;
        margin-left: 30px;
    }
    
    .dropdown-menu.show {
        left:-90px !important;
        
    }
    .dropdown-toggle{
        left:30px !important;
    }

    ul.navbar-nav {
        margin-right: 10px !important;
    }
     
    .section-intro{
        margin-top: 0 !important;
    }
    
    section.gray-blue{
        background-color: white !important; 
    }

    .section-intro .row .flex-column {
        text-align: center;
    }

    .img-calc {
        width:100%;
    }

    #comments  {
        flex-wrap: wrap;
    }
}