<section class="bg-grey mt-4">
  <figure class="text-center container py-1">
    <div class="justify-content-center mb-1"><h1 class="news-title">Actualités</h1></div>
    {% if new  %}
      <div class="list-group my-5">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ new.title}} </h5>
      <small class="text-muted">{{ new.createdAt|date('d-m-Y') }}</small>
    </div>
    <div class="container d-flex">
        <div class="col-md-4 col-sm-12 ">
        {% if new.image  %}
            <img class="img-fluid " src="{{ asset('build/images/'~ new.image) }}" alt="new">
        {% endif %}    
        </div>
        <div class="col-md-8 col-sm-12 ">
            <p class="mb-1">{{ new.content }}</p>
        </div>
    </div>
  </a>
</div>
    {% else %}
    <p>Pas d'actualité récente disponible.</p>
    {% endif %}
  </figure>
  </section>