<section class="bg-grey">
    <div class=" d-flex align-items-center justify-content-center mb-1 "><h1 class="heading-2">Actualités</h1></div>
    {% if new  %}
      <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="p-5">{{ new.title}} </h5>
      <h5 class="text-muted p-5">{{ new.createdAt|date('d-m-Y') }}</h5>
    </div>
    <div class="container d-flex align-items-center py-3">
            <p class="mb-1">{{ new.content }}</p>
    </div>
  </a>
</div>
    {% else %}
    <p>Pas d'actualité récente disponible.</p>
    {% endif %}
  </section>