<!DOCTYPE html>
<html>
    <head>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">    
        {% endblock %}
        {% block meta %}
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        
    </head>
    <body>
    
    {%  include "base/header.html.twig" %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        <script src=" https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>    
        {% endblock %}
    </body>
</html>
