<section class="structures">
<div class="structure-content ">
  <div class="structure-card card-black">
   <div class="structure-card-header">
   </div>
   <div class="structure-card-body">
     <h3>A chaque structure sa spécificité:</h3>
     <p>Une réalisation optimale dans la conception de vos ouvrages,
nécessite de respecter les entraxes  de vos ossatures métalliques, ainsi que les supports de fixations. 
</p>
   </div>
   <div class="structure-card-footer-black">
   <a class="card-link" href="#"> 
    informations techniques </a>
   </div>
  </div>
  <div class="structure-card card-white">
   <div class="structure-card-header">
   <img src="{{ asset('images/plafond.png') }}" alt="" width="48" height="48">
   </div>
   <div class="structure-card-body">
     <h3>Plafonds</h3>
     <p>Il en existe de nombreuses variétés, l’ossature qui convient le mieux se choisira en fonctions du support et de la surfaces à réaliser.
</p>
   </div>
   <div class="structure-card-footer">
   <a class="card-link" href="#">
    Les ferraillages possibles  </a>
   </div>
  </div>
  <div class="structure-card card-white">
   <div class="structure-card-header">
   <img src="{{ asset('images/murs.png') }}" alt="" width="48" height="48">
   </div>
   <div class="structure-card-body">
     <h3>Doublages</h3>
     <p>Pour isoler la périphérie du bâtie ou habiller un simple mur . <br>Par ferraillage ou collage? Le choix est avant tout une question de support.</p>
   </div>
   <div class="structure-card-footer">
   <a class="card-link" href="#">
   Choisir le doublage approprié.</a>
   </div>
  </div>
  <div class="structure-card card-blue">
   <div class="structure-card-header">
   <img src="{{ asset('images/cloison-seche.png') }}" alt="" width="48" height="48">
   </div>
   <div class="structure-card-body">
     <h3>Cloisons</h3>
     <p>  Elles séparent l’espace intérieur. L’épaisseur et la nature de celle-ci vous donneront le confort souhaité.    </p>
   </div>
   <div class="structure-card-footer">
   <a class="card-link" href="#">
   Différentes possibilités de cloisons.   </a>
   </div>
  </div>
  
  
</div>
</section>
