<section class="d-flex w-100  ">
 <div class="flex-row flex-wrap ">
  <div class="col-lg-6 col-md-8 d-flex flex-column justify-content-start px-5 py-5">
  <h1>Quanti-Plaque</h1>
  <h4>l'outil du plaquiste</h4>
  <p>Pour obtenir la liste des matériaux nécessaires à vos réalisations en plaque de plâtre, nous avons conçu un calculateur.</p>
  </div>
  <div class="col-lg-6 col-md-8 d-flex justify-content-center aligne-items-center">
  <img class="img-intro mx-auto" src="build/images/Phil24-CloiRampPoutr.jpg" alt="cloison sur montant 48" />
  </div>
 </div>
</section>
