<section class="structures">
<div class="structure-content col-10 col-md-8 col-lg-9">
  <div class="structure-card">
   <div class="structure-card-header">
   <img src="{{ asset('images/plafond.png') }}" alt="" width="48" height="48">
   </div>
   <div class="structure-card-body">
     <h3>Plafonds</h3>
     <p>Il en existe de nombreuses variétés, décoratif, acoustique, modulaire ; suivant les surfaces et besoin
Plusieurs types d’ossature sont possibles, fourrures, montant ou primaire.
</p>
   </div>
   <div class="structure-card-footer">
   <a class="card-link" href="#">
    les ferraillages possibles  </a>
   </div>
  </div>
  <div class="structure-card">
   <div class="structure-card-header">
   <img src="{{ asset('images/murs.png') }}" alt="" width="48" height="48">
   </div>
   <div class="structure-card-body">
     <h3>Doublages</h3>
     <p>Pour isoler la périphérie du bâtie ou habiller un simple mur intérieur,porteur ou non. Ferraillage ou collage? Le choix est avant tout une question de support.</p>
   </div>
   <div class="structure-card-footer">
   <a class="card-link" href="#">
   Choisir le doublage approprié.</a>
   </div>
  </div>
  <div class="structure-card">
   <div class="structure-card-header">
   <img src="{{ asset('images/cloison-seche.png') }}" alt="" width="48" height="48">
   </div>
   <div class="structure-card-body">
     <h3>Cloisons</h3>
     <p>  Les cloisons viennent pour séparer l’espace intérieur en divers pièces (chambre, séjour, salle de bain etc.…). L’épaisseur, et la nature de celle-ci donneront plus ou moins de confort à l'espace de vie.   </p>
   </div>
   <div class="structure-card-footer">
   <a class="card-link" href="#">
   Différentes possibilités de cloisons.   </a>
   </div>
  </div>
  <div class="structure-card">
   <div class="structure-card-header">
   </div>
   <div class="structure-card-body">
     <h3>A Chaque cas sa structures</h3>
     <p>"Il existe différent types de plafond, de doublage et de cloison", le type de structure à choisir se fait essentiellement en fonction du support. 
      Les matériaux à utiliser seront différents.</p>
   </div>
   <div class="structure-card-footer">
   <a class="card-link" href="#">
   ghjkgghgjhghg </a>
   </div>
  </div>
</div>
</section>
