<section class="d-flex flex-column w-100 my-3">
    <h1 class="calc-title">Notre calculateur</h1>
    <div class="row flex-wrap w-75 mx-auto">
        <div class="col-lg-6 col-sm-12 d-flex flex-column">
            <div class="d-flex w-85 align-self-start flex-column my-3">
                <h5 class="calc-text-bold">Il permet de calculer la liste exhaustive des matériaux nécessaires à la réalisation de nombreuses structures en plaque de plâtre, sans limitation de hauteur ni de surface.</h5>
                <p class="calc-text">Que ce soit pour des plafonds, des doublages ou des cloisons, vous devez renseigner notre formulaire concernant la longueur, la largeur, le support d’accroche (bois, béton), la hauteur du plenum souhaité, sur montant ou fourrure, etc.</p>
            </div>
            <div class="d-flex w-100 align-items-end justify-content-start">
                <img class="img-calc" src="build/images/Nicepage-calculateur.jpg" alt="cloison sur montant 48" />
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 d-flex flex-column">
            <div class="d-flex w-100 align-items-end justify-content-start">
                <img class="img-calc" src="build/images/Nicepage-calculateur.jpg" alt="cloison sur montant 48" />
            </div>
            <div class="d-flex w-85  flex-column my-3 align-self-end">
                <h5 class="calc-text-bold ">Il permet de calculer la liste exhaustive des matériaux nécessaires à la réalisation de nombreuses structures en plaque de plâtre, sans limitation de hauteur ni de surface.</h5>
                <ol class="calc-liste my-3 ">
                    <li>azazazaazazlkazlzkalkza</li>
                    <li>azazazaazazlkazlzkalkza</li>
                    <li>azazazaazazlkazlzkalkza</li>
                    <li>azazazaazazlkazlzkalkza</li>
                    <li>azazazaazazlkazlzkalkza</li>
                    <li>azazazaazazlkazlzkalkza</li>
                    <li>azazazaazazlkazlzkalkza</li>
                </ol>
            </div>
        </div>
    </div>
</section>